
.cityAbductionsHeader {
    background-color: #03827a;
    color: white;
    padding: 20px;
}


.cityAbductionsContainer{
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    margin: 0 auto;
    position: relative;
    border: 2px solid #03827a;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }