
.cityAbductionsHeader {
    background-color: #03827a;
    color: white;
    padding: 15px;
}

.cityAbductionsContainer {
    width: 350px;
    height: 250px;
    margin-bottom: 80px
}

.cityAbductionsContent {
    overflow-y: scroll;
    height: inherit;
    width: inherit;
    border: 2px solid #03827a;
}

.selectedCityAbductionSighting {
    background-color: #b7e0dd;
    padding: 15px;
    border-bottom: 1px solid white;
}

    .selectedCityAbductionSighting > p {
        margin: 0;
    }

.cityAbductionSighting {
    background-color: #a7e3df;
    padding: 15px;
    border-bottom: 1px solid white;
}

    .cityAbductionSighting:hover {
        background-color: #90d1cd;
    }

    .cityAbductionSighting > p {
        margin: 0;
    }

.focusedAbductionContainer {
    width: 650px;
    height: 200px;
}

.focusedAbductionContent {
    overflow-y: scroll;
    height: inherit;
    width: inherit;
    border: 2px solid #03827a;
    background-color: #a7e3df;
    padding-left: 20px;
    padding-right: 20px;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #03827a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ececec;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #68ddd5;
    }
