
.cityAbductionsHeader {
    background-color: #03827a;
    color: white;
    padding: 15px;
}

.cityAbductionsContainer {
    width: 350px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.cityAbductionsContent {
    overflow-y: scroll;
    height: inherit;
    width: inherit;
    border: 2px solid #03827a;
}

.cityAbductionSighting {
    background-color: #a7e3df;
    padding: 15px;
    border-bottom: 1px solid white;
}

    .cityAbductionSighting:hover {
        background-color: #90d1cd;
    }

    .cityAbductionSighting > p {
        margin: 0;
    }

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #03827a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #68ddd5;
    }
